includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app
    excludePaths:
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Unsafe usage of new static\(\)#'
